<form [formGroup]="leadsSourceForm" (ngSubmit)="onSubmit()">
    <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">{{ formTitle }}</h2>
    <p class="mt-1 text-sm/6 text-gray-600 dark:text-gray-400">A unique source from which leads are generated.
    </p>
    <div class="mt-4">
        <div>
            <label for="sourceName" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Source
                Name</label>
            <div class="mt-2">
                <input id="sourceName" type="text" formControlName="sourceName" placeholder="Enter source name"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
            </div>
            @if (leadsSourceForm.get('sourceName')?.invalid && (leadsSourceForm.get('sourceName')?.dirty
            || leadsSourceForm.get('sourceName')?.touched)) {
            <div class="mt-1 text-xs text-red-600 dark:text-red-400">
                {{ leadsSourceForm.get('sourceName')?.errors?.['required'] ? 'Source name is required.' :
                '' }}
            </div>
            }
        </div>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
        <button (click)="onCancel()" type="button"
            class="text-sm/6 font-semibold text-gray-900 dark:text-white">Cancel</button>
        <button type="submit"
            class="rounded-md bg-primary-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-primary-500/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:focus-visible:outline-primary-500">Save</button>
    </div>
</form>