<div class="mt-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div
            class="pt-6 rounded-2xl shadow-sm bg-white p-4 grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-2 gap-x-2 justify-between  ">
            <div class="sm:col-span-1 col-span-1 flex flex-col gap-2">
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Company Phone</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Company Mail</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Company Size</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Company Website</div>
            </div>
            <div class="sm:col-span-1 col-span-1 flex flex-col gap-2">
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ account?.companyPhone || 'NA' }}</div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ account?.companyEmail || 'NA' }}</div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ (account?.companySize || 'NA') }}
                </div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">
                    <a href="{{ account?.companyWebsite || '#' }}" target="_blank"
                        class="text-primary-500 hover:underline dark:text-primary-300">
                        {{ account?.companyWebsite || 'NA' }}
                    </a>
                </div>
            </div>
        </div>

        <div
            class="pt-6 rounded-2xl shadow-sm bg-white p-4 grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-2 justify-between">
            <div class="sm:col-span-1 col-span-1 flex flex-col gap-2">
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Address Line 1</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Address Line 2</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">City</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">ZIP/Postal Code</div>
                <div class="text-sm/6 font-medium text-gray-900 dark:text-white">Country</div>
            </div>
            <div class="sm:col-span-1 col-span-1 flex flex-col gap-2">
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ accountAddress?.addressLine1 || 'NA'
                    }}
                </div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ accountAddress?.addressLine2 || 'NA'
                    }}
                </div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ accountAddress?.city || 'NA' }}</div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ accountAddress?.postalCode || 'NA' }}
                </div>
                <div class=" text-sm/6 text-gray-700 dark:text-gray-400">{{ accountAddress?.country || 'NA' }}
                </div>
            </div>
        </div>
    </div>
</div>