<div class="">
    <table class="mt-4 w-full text-left text-sm/6 whitespace-nowrap ">
        <colgroup>
            <col class="w-full" />
            <col />
            <col />
            <col />
        </colgroup>
        <thead class="border-b border-gray-200 text-gray-900 dark:border-white/15 dark:text-white">
            <tr>
                <th scope="col" class="sticky  px-0 py-3 font-semibold">Interaction</th>
                <th scope="col" class="sticky  py-3 pr-0 pl-8 text-right font-semibold sm:table-cell">Interacted By</th>
                <th scope="col" class="sticky  py-3 pr-0 pl-8 text-right font-semibold">Time</th>
            </tr>
        </thead>
        <tbody class="">
            @if (!leadInteractions || leadInteractions.length === 0) {
            <tr >
                <td colspan="3" class="py-8 text-center text-gray-500 dark:text-gray-400">
                    No interactions found.
                </td>
            </tr>
            }
            @for (item of leadInteractions; let i = $index; track i) {
            <tr class="border-b border-gray-100 dark:border-white/10">
                <td class="max-w-0 px-0 py-5 align-top">
                    <div class="truncate font-medium text-gray-900 dark:text-white">{{ item.interactionType }}</div>
                    <div class="truncate text-gray-500 dark:text-gray-400">{{ item.notes }}</div>
                </td>
                <td
                    class="hidden py-5 pr-0 pl-8 text-right align-top text-gray-700 tabular-nums sm:table-cell dark:text-gray-300">
                    {{ item.createdByName }}</td>
                <td class="py-5 pr-0 pl-8 text-right align-top text-gray-700 tabular-nums dark:text-gray-300">
                    {{item.createdAt | date:'short'}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>