<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="space-y-8  dark:divide-white/10">
    <div class=" pb-6 dark:border-white/10">
        <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Account Information</h2>
        <p class="mt-1 text-sm/6 text-gray-600 dark:text-gray-400">Details information about the company.
        </p>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
                <label for="companyName" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    Company Name <span class="text-red-500">*</span>
                </label>
                <div class="mt-2">
                    <input id="companyName" type="text" name="companyName" formControlName="companyName"
                        autocomplete="organization" placeholder="Enter company name"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('companyName')?.touched && accountForm.get('companyName')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('companyName')?.errors?.['required'] ? 'Company name is required.' : '' }}
                    </div>
                    }
                </div>
            </div>
                        <div class="sm:col-span-2">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Account
                    Owner <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <input type="hidden" formControlName="accountOwnerId" />
                    <el-autocomplete class="relative mt-2 block" id="accountOwner" appAutocomplete
                        [targetForm]="accountForm" nameControl="accountOwnerName" idControl="accountOwnerId">
                        <input id="combobox" type="text" formControlName="accountOwnerName"
                            placeholder="Type owner name"
                            class="block w-full rounded-md bg-white py-1 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-500 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                        <button type="button"
                            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-hidden">
                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                                class="size-5 text-gray-400">
                                <path
                                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </button>
                        <el-options anchor="bottom end" popover
                            class="max-h-60 w-(--input-width) overflow-auto rounded-md bg-white py-1 text-base shadow-lg outline outline-black/5 transition-discrete [--anchor-gap:--spacing(1)] data-leave:transition data-leave:duration-100 data-leave:ease-in data-closed:data-leave:opacity-0 sm:text-sm dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                            @for (user of userList; let uidx = $index; track uidx;) {
                            <el-option [attr.value]="user.name" id="{{user.id}}"
                                class="block px-3 py-1.5 text-gray-900 select-none aria-selected:bg-primary-500 aria-selected:text-white dark:text-white dark:aria-selected:bg-primary-500">
                                <div class="flex">
                                    <span class="truncate">{{user.name}}</span>
                                    <span
                                        class="ml-2 truncate text-gray-500 in-aria-selected:text-white dark:text-gray-400 dark:in-aria-selected:text-white">{{
                                        user.userName ? `@${user.userName}` : ''}}</span>
                                </div>
                            </el-option>
                            }

                        </el-options>
                    </el-autocomplete>
                    @if (accountForm.get('accountOwnerName')?.touched && accountForm.get('accountOwnerName')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('accountOwnerName')?.errors?.['required'] ? 'Account owner is required.' : '' }}
                    </div>
                    }
                    @if (accountForm.get('accountOwnerId')?.touched && accountForm.get('accountOwnerId')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('accountOwnerId')?.errors?.['required'] ? 'Please select a valid account owner.' : '' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="companyPhone" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    Phone <span class="text-red-500">*</span>
                </label>
                <div class="mt-2">
                    <input id="companyPhone" type="text" name="companyPhone" formControlName="companyPhone"
                        autocomplete="tel" placeholder="Enter company phone"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if ((accountForm.get('companyPhone')?.touched || accountForm.get('companyPhone')?.dirty) &&
                    accountForm.get('companyPhone')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ 'Company phone is required.' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="companyEmail" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Business Mail</label>
                <div class="mt-2">
                    <input id="companyEmail" type="email" name="companyEmail" formControlName="companyEmail"
                        autocomplete="email" placeholder="Enter email address"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('companyEmail')?.touched && accountForm.get('companyEmail')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('companyEmail')?.errors?.['email'] ? 'Please enter a valid email address.' :
                        '' }}
                    </div>
                    }
                </div>
            </div>


            <!-- <div class="sm:col-span-2">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Account
                    Status <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <select id="accountStatus" name="accountStatus" formControlName="accountStatus"
                        class="block w-full rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-primary-500">
                        @for (item of accountStatuses; let idx = $index; track idx;) {
                        <option [value]="item">{{item}}</option>
                        }
                    </select>
                    @if (accountForm.get('accountStatus')?.touched && accountForm.get('accountStatus')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('accountStatus')?.errors?.['required'] ? 'Account status is required.' : ''
                        }}
                    </div>
                    }
                </div>
            </div> -->

            <div class="col-span-4">
                <label for="companyWebsite" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Company
                    Website</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary-600">
                        <div class="shrink-0 text-base text-gray-500 select-none sm:text-sm/6 dark:text-gray-400">https://</div>
                        <input id="companyWebsite" type="text" name="companyWebsite" formControlName="companyWebsite"
                            autocomplete="url" placeholder="Enter company website"
                            class="block min-w-0 grow py-1 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 " />
                    </div>
                    @if (accountForm.get('companyWebsite')?.touched && accountForm.get('companyWebsite')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('companyWebsite')?.errors?.['required'] ? 'Company website is required.' : '' }}
                        {{ accountForm.get('companyWebsite')?.errors?.['url'] ? 'Please enter a valid URL.' : '' }}
                    </div>
                    }
                </div>
            </div>

                        <div class="sm:col-span-2">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Company Size</label>
                <div class="mt-2">
                    <input id="companySize" type="text" name="companySize" formControlName="companySize"
                        autocomplete="off" placeholder="Enter company size"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('companySize')?.touched && accountForm.get('companySize')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('companySize')?.errors?.['required'] ? 'Company size is required.' : '' }}
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="border-b border-gray-900/10 pb-12 dark:border-white/10" formGroupName="address">
        <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Address Information</h2>
        <p class="mt-1 text-sm/6 text-gray-600 dark:text-gray-400">Use a bussiness address where you can reach the
            company.
        </p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
            <div class="col-span-full">
                <label for="addressLine1" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Address
                    Line 1</label>
                <div class="mt-2">
                    <input id="addressLine1" type="text" name="addressLine1" formControlName="addressLine1"
                        autocomplete="address-line1" placeholder="Enter address line 1"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('address.addressLine1')?.touched &&
                    accountForm.get('address.addressLine1')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('address.addressLine1')?.errors?.['required'] ? 'Address line 1 is required.'
                        : '' }}
                    </div>
                    }
                </div>
            </div>
            <div class="col-span-full">
                <label for="addressLine2" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Address
                    Line 2</label>
                <div class="mt-2">
                    <input id="addressLine2" type="text" name="addressLine2" formControlName="addressLine2"
                        autocomplete="address-line2" placeholder="Enter address line 2"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('address.addressLine2')?.touched &&
                    accountForm.get('address.addressLine2')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('address.addressLine2')?.errors?.['required'] ? 'Address line 2 is required.'
                        : '' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-2 sm:col-start-1">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">City</label>
                <div class="mt-2">
                    <input id="city" type="text" name="city" formControlName="city" autocomplete="address-level2"
                        placeholder="Enter city"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('address.city')?.touched && accountForm.get('address.city')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('address.city')?.errors?.['required'] ? 'City is required.' : '' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="region" class="block text-sm/6 font-medium text-gray-900 dark:text-white">State /
                    Province</label>
                <div class="mt-2">
                    <input id="state" type="text" name="state" formControlName="state" autocomplete="address-level1"
                        placeholder="Enter state or province"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('address.state')?.touched && accountForm.get('address.state')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('address.state')?.errors?.['required'] ? 'State is required.' : '' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="postal-code" class="block text-sm/6 font-medium text-gray-900 dark:text-white">ZIP / Postal
                    code</label>
                <div class="mt-2">
                    <input id="postalCode" type="text" name="postalCode" formControlName="postalCode"
                        autocomplete="postal-code" placeholder="Enter ZIP or postal code"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (accountForm.get('address.postalCode')?.touched &&
                    accountForm.get('address.postalCode')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('address.postalCode')?.errors?.['required'] ? 'Postal code is required.' : ''
                        }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="country" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Country</label>
                <div class="mt-2 grid grid-cols-1">
                    <select id="country" name="country" formControlName="country" autocomplete="country-name"
                        class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-primary-500">
                        <option value="">Select a country</option>
                        @for (country of countries; track country.countryId) {
                        <option [value]="country.name">{{ country.name }}</option>
                        }
                    </select>
                    @if (accountForm.get('address.country')?.touched && accountForm.get('address.country')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ accountForm.get('address.country')?.errors?.['required'] ? 'Country is required.' : '' }}
                    </div>
                    }
                    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true"
                        class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                        <path
                            d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
        <button (click)="closeForm()" type="button"
            class="text-sm/6 font-semibold text-gray-900 dark:text-white">Cancel</button>
        <button type="submit"
            class="rounded-md bg-primary-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-primary-500/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:focus-visible:outline-primary-500">Save</button>
    </div>
</form>