<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-8  dark:divide-white/10">
    <div class="dark:border-white/10">
        <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Contact Information</h2>
        <p class="mt-1 text-sm/6 text-gray-600 dark:text-gray-400">Contact information for the company account.
        </p>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
            <div class="sm:col-span-6">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Account (Company Name)
                    <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <!-- <input type="hidden" formControlName="accountId" /> -->
                    <el-autocomplete class="relative mt-2 block" id="account" appAutocomplete [targetForm]="contactForm"
                        nameControl="accountName" idControl="accountId">
                        <input id="combobox" type="text" formControlName="accountName" placeholder="Type account name"
                            (change)="loadAccountList()"
                            class="block w-full rounded-md bg-white py-1 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-500 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                        <button type="button"
                            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-hidden">
                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                                class="size-5 text-gray-400">
                                <path
                                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </button>
                        <el-options anchor="bottom end" popover
                            class="max-h-60 w-(--input-width) overflow-auto rounded-md bg-white py-1 text-base shadow-lg outline outline-black/5 transition-discrete [--anchor-gap:--spacing(1)] data-leave:transition data-leave:duration-100 data-leave:ease-in data-closed:data-leave:opacity-0 sm:text-sm dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                            @for (account of accountList; let uidx = $index; track uidx;) {
                            <el-option [attr.value]="account.companyName" id="{{account.accountId}}"
                                class="block px-3 py-1.5 text-gray-900 select-none aria-selected:bg-primary-500 aria-selected:text-white dark:text-white dark:aria-selected:bg-primary-500">
                                <div class="flex">
                                    <span class="truncate">{{account.companyName}}</span>
                                </div>
                            </el-option>
                            }

                        </el-options>
                    </el-autocomplete>
                    @if (contactForm.get('accountName')?.touched && contactForm.get('accountName')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('accountName')?.errors?.['required'] ? 'Account name is required.' : ''
                        }}
                    </div>
                    }
                    @if (contactForm.get('accountId')?.touched && contactForm.get('accountId')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('accountId')?.errors?.['required'] ? 'Please select a valid account owner.' :
                        '' }}
                    </div>
                    }
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="fullName" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    Full Name <span class="text-red-500">*</span>
                </label>
                <div class="mt-2">
                    <input id="fullName" type="text" name="fullName" formControlName="fullName" autocomplete="name"
                        placeholder="Enter full name"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (contactForm.get('fullName')?.touched && contactForm.get('fullName')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('fullName')?.errors?.['required'] ? 'Full name is required.' : '' }}
                    </div>
                    }
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Job Title</label>
                <div class="mt-2">
                    <input id="jobTitle" type="text" name="jobTitle" formControlName="jobTitle" autocomplete="off"
                        placeholder="Enter job title"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (contactForm.get('jobTitle')?.touched && contactForm.get('jobTitle')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('jobTitle')?.errors?.['required'] ? 'Job title is required.' : '' }}
                    </div>
                    }
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="phone" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    Phone <span class="text-red-500">*</span>
                </label>
                <div class="mt-2">
                    <input id="phone" type="text" name="phone" formControlName="phone" autocomplete="tel"
                        placeholder="Enter phone number"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if ((contactForm.get('phone')?.touched || contactForm.get('phone')?.dirty) &&
                    contactForm.get('phone')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ 'Phone number is required.' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="email" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Email
                    address</label>
                <div class="mt-2">
                    <input id="email" type="email" name="email" formControlName="email" autocomplete="email"
                        placeholder="Enter email address"
                        class="block w-full rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                    @if (contactForm.get('email')?.touched && contactForm.get('email')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('email')?.errors?.['email'] ? 'Please enter a valid email address.' :
                        '' }}
                    </div>
                    }
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="city" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Contact Owner
                    <span class="text-red-500">*</span></label>
                <div class="mt-2">
                    <!-- <input type="hidden" formControlName="contactOwnerId" /> -->
                    <el-autocomplete class="relative mt-2 block" id="account" appAutocomplete [targetForm]="contactForm"
                        nameControl="contactOwnerName" idControl="contactOwnerId">
                        <input id="combobox" type="text" formControlName="contactOwnerName" placeholder="Type owner name"
                            (change)="loadUserList()"
                            class="block w-full rounded-md bg-white py-1 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-500 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                        <button type="button"
                            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-hidden">
                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                                class="size-5 text-gray-400">
                                <path
                                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </button>
                        <el-options anchor="bottom end" popover
                            class="max-h-60 w-(--input-width) overflow-auto rounded-md bg-white py-1 text-base shadow-lg outline outline-black/5 transition-discrete [--anchor-gap:--spacing(1)] data-leave:transition data-leave:duration-100 data-leave:ease-in data-closed:data-leave:opacity-0 sm:text-sm dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                            @for (user of userList; let uidx = $index; track uidx;) {
                            <el-option [attr.value]="user.name" id="{{user.id}}"
                                class="block px-3 py-1.5 text-gray-900 select-none aria-selected:bg-primary-500 aria-selected:text-white dark:text-white dark:aria-selected:bg-primary-500">
                                <div class="flex">
                                    <span class="truncate">{{user.name}}</span>
                                </div>
                            </el-option>
                            }

                        </el-options>
                    </el-autocomplete>
                    @if (contactForm.get('contactOwnerName')?.touched && contactForm.get('contactOwnerName')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('contactOwnerName')?.errors?.['required'] ? 'Contact owner name is required.' : ''
                        }}
                    </div>
                    }
                    @if (contactForm.get('contactOwnerId')?.touched && contactForm.get('contactOwnerId')?.invalid) {
                    <div class="mt-1 text-xs text-red-500">
                        {{ contactForm.get('contactOwnerId')?.errors?.['required'] ? 'Please select a valid contact owner.' :
                        '' }}
                    </div>
                    }
                </div>
            </div>
            <div class="sm:col-span-6 mt-2 flex items-start gap-x-3">
                <div class="flex h-6 shrink-0 items-center">
                    <div class="group grid size-4 grid-cols-1">
                        <input id="isPrimary" type="checkbox" name="isPrimary" formControlName="isPrimary"
                            aria-describedby="isPrimary-description" [checked]="contactForm.get('isPrimary')?.value"
                            class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-primary-600 checked:bg-primary-600 indeterminate:border-primary-600 indeterminate:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 dark:border-white/10 dark:bg-white/5 dark:checked:border-primary-500 dark:checked:bg-primary-500 dark:indeterminate:border-primary-500 dark:indeterminate:bg-primary-500 dark:focus-visible:outline-primary-500 dark:disabled:border-white/5 dark:disabled:bg-white/10 dark:disabled:checked:bg-white/10 forced-colors:appearance-auto" />
                        <svg viewBox="0 0 14 14" fill="none"
                            class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25 dark:group-has-disabled:stroke-white/25">
                            <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="opacity-0 group-has-checked:opacity-100" />
                            <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="opacity-0 group-has-indeterminate:opacity-100" />
                        </svg>
                    </div>
                </div>
                <div class="text-sm/6">
                    <label for="isPrimary" class="font-medium text-gray-900 dark:text-white">Is this contact a primary
                        contact ?</label>
                    <p id="isPrimary-description" class="text-gray-500 dark:text-gray-400 text-xs">A company can have one primary contact, which is typically the main point of contact for the company.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
        <button (click)="closeForm()" type="button"
            class="text-sm/6 font-semibold text-gray-900 dark:text-white">Cancel</button>
        <button type="submit"
            class="rounded-md bg-primary-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-primary-500/80 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:focus-visible:outline-primary-500">Save</button>
    </div>
</form>