<form [formGroup]="headerForm">

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 items-center justify-between">
        <div class="sm:flex-1">
            <div class="flex items-center gap-3">
                <h1 class="text-base font-semibold text-gray-900 dark:text-white">{{ account?.companyName }}</h1>
                @if (account?.accountStatus) {
                    <app-status-badge [status]="account!.accountStatus || 'Unknown'"></app-status-badge>
                }
            </div>
            <!-- <p class="mt-1 truncate text-sm text-gray-500 dark:text-gray-400">{{ "Account: " +
                (account?.account?.companyName) }}</p> -->
        </div>
        <!-- Quick Actions Dropdown -->
        <div>
            <el-dropdown class="inline-block">
                <button
                    class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">
                    Quick Actions
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                        class="-mr-1 size-5 text-gray-400">
                        <path
                            d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </button>

                <el-menu anchor="bottom end" popover
                    class="w-56 origin-top-right rounded-md bg-white shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                    <div class="py-1">
                        @for (action of quickActions; let i = $index; track i) {
                        <button type="button" (click)="action.handler()"
                            class="block w-full px-4 py-2 text-left text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-hidden dark:text-gray-300 dark:focus:bg-white/5 dark:focus:text-white">
                            {{ action.label }}
                        </button>
                        }
                    </div>
                </el-menu>
            </el-dropdown>
        </div>
        <!-- Expected Close Date and owner -->
        <div class="flex justify-center">
            <div>
                <h2 class="text-sm font-medium text-gray-500 dark:text-gray-400">Owner</h2>
                <div class="mt-1">
                    <!-- <input type="hidden" formControlName="accountId" /> -->
                    <el-autocomplete class="relative block" id="account" appAutocomplete [targetForm]="headerForm"
                        nameControl="ownerName" idControl="ownerId" >
                        <input id="combobox" type="text" formControlName="ownerName" placeholder="Type owner name"
                            (input)="loadUserList()"
                            class="block w-40 rounded-md bg-white py-0.5 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-500 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-primary-500" />
                        <button type="button"
                            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-hidden">
                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                                class="size-5 text-gray-400">
                                <path
                                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </button>
                        <el-options anchor="bottom end" popover
                            class="max-h-60 w-(--input-width) overflow-auto rounded-md bg-white py-1 text-base shadow-lg outline outline-black/5 transition-discrete [--anchor-gap:--spacing(1)] data-leave:transition data-leave:duration-100 data-leave:ease-in data-closed:data-leave:opacity-0 sm:text-sm dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
                            @for (user of userList; let uidx = $index; track uidx;) {
                            <el-option [attr.value]="user.name" id="{{user.id}}"
                                class="block px-3 py-1.5 text-gray-900 select-none aria-selected:bg-primary-500 aria-selected:text-white dark:text-white dark:aria-selected:bg-primary-500">
                                <div class="flex">
                                    <span class="truncate">{{user.name}}</span>
                                </div>
                            </el-option>
                            }

                        </el-options>
                    </el-autocomplete>
                </div>
            </div>
        </div>
    </div>
</form>
