/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {

    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';

    --color-primary: #4F46E5;
    --color-primary-light: #6366F1;
    --color-primary-dark: #4338CA;

    --color-secondary: #10B981;
    --color-secondary-light: #34D399;
    --color-secondary-dark: #059669;
}